<a href="https://colab.research.google.com/github/ayts9806/class2021Spring/blob/main/syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [1, 2, 3, 4]
for i in a:  #i가 a의 첫번째 것을 가져와서 다 실행을 하고 두번째 꺼를 가져와 다 실행을 하고 하는 것. 그래서 프린트가 총 4번 됨.
    print(i)  #한칸 탭을 해야함. 탭이 없으면 안 됨. 또한 위에서 콜론(:)도 있어야함.

1
2
3
4

In [ ]:
for i in range(3):  #0이 들어가고 후에 1이 들어가고 후에 3이 들어가고 이렇게 순서대로 각각 프린트까지 함.
  print(i)

0
1
2

In [ ]:
a = [1, 2, 3, 4]
for i in range(len(a)):  #i에 0이 들어가면 a[0]해서 1이 출력 되고 i에 1이 들어가면 2가 출력되고 하는 것 
    print(a[i])

1
2
3
4

In [2]:
for i in range(1, 4):  #이렇게 하면 1부터 4직전까지.
  print(i)

1
2
3

In [4]:
a = [1, 2, 3, 4]
for i in range(1, 5):  #이렇게 하면 에러 나옴.
  print(a[i])

2
3
4

IndexError: ignored

In [6]:
a = [1, 2, 3, 4]
for i in range(0, 4, 2):  #이렇게 하면 0부터 4직전까지 두칸씩 띄어라.
  print(a[i])

1
3

In [7]:
a = [1, 2, 3, 4, 5, 6, 7 ,8, 9, 10]
for i in range(0, 10, 4):
  print(a[i])

1
5
9

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

In [ ]:
q = 'abc'
w = ['aqwr', 'b', 'c']
print(len(q)); print(len(w))

3
3

In [ ]:
a = ('a', 'b', 'c')
for i in a:
  print(i)

a
b
c

In [ ]:
m = (a, d, f)  #이렇게 하면 a, d, f에 소괄호가 없어서 string이 아니라 변수 취급이다. 그래서 오류가 난다.
for i in a:
  print(i)

NameError: ignored

In [ ]:
d = 1
f = 'gig'

In [ ]:
m = (a, d, f)  #변수에 값을 다 assign해주면 된다.
for i in a:
  print(i)

('a', 'b', 'c')
1
gig

In [ ]:
a = '12345'
for i in a:  #list든 string이든 다 for 쓸 수 있다.
  print(i)

1
2
3
4
5

In [ ]:
a = [0, 1, 2]
b = [1, 2, 3]
for i in a:
  for k in b:
    print(k)

1
2
3
1
2
3
1
2
3

In [ ]:
a = [0, 1, 2]
b = [1, 2, 3]
for i in a:
  for k in b:
    print(k)
    print(a[i])

1
0
2
0
3
0
1
1
2
1
3
1
1
2
2
2
3
2

In [ ]:
a = [0, 1, 2]
b = [1, 2, 3]
for i in a:
  print(i)
  for k in b:
    print(k)

0
1
2
3
1
1
2
3
2
1
2
3

In [ ]:
a = ["red", "green", "blue", "purple"]  #skip
b = [0.2, 0.3, 0.1, 0.4]
for i, a_ in enumerate(a):
    print("{}: {}%".format(a_, b[i]*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [ ]:
a = ["red", "green", "blue", "purple"]  #skip
b = [0.2, 0.3, 0.1, 0.4]
for a_, b_ in zip(a, b):
    print("{}: {}%".format(a_, b_*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

In [9]:
a = 0  #이렇게 되면 아무것도 뜨지 않음.
if a ==1:
  print(a)

In [ ]:
a = 0
if a == 0:
    print(a)
else:
    print(a+1)

0

In [14]:
a = 0
if a == 1:
  print(a)
else:
  print(a+1)

1

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

In [ ]:
for i in range(1, 3):  #indentation이 다 들어가 있음.
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

In [16]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]  #중요!!  제일 앞에 i가 있는 것은 i를 가지고 b를 만들라는 뜻. 
print(b)
print(type(b))

[2, 3, 4]
<class 'list'>

In [19]:
for i in [1, 2, 3, 4]:  #이것이 위와 같음.
  if i >= 2:
    print(i)

2
3
4

In [ ]:
a = ['red', 'green', 'blue', 'purple']  #처음에 red가 들어가는데 len이 3이라 나오지 않음.
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']