<a href="https://colab.research.google.com/github/ayts9806/class2021Spring/blob/main/%ED%95%84%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 1
print(1)

1

In [9]:
a = 1
b = 'love'
c = [1, 2, 7]
d = [1, '2', 'love']
e = (1, '2', 'love')
f = {'a': 165, 'b':172, 'c':185}
print(b); print(c); print(d); print(e); print(f)
print(type(a)); print(type(b)); print(type(d)); print(type(e)); print(type(f))
# int는 integer이고 str은 stirng
# string, syntax, variable 세개 파일 내 repository로 복사하기

love
[1, 2, 7]
[1, '2', 'love']
(1, '2', 'love')
{'a': 165, 'b': 172, 'c': 185}
<class 'int'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>